.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  min-height: 150px;
  padding: 95px 50px 93px 50px;
  justify-items: flex-end; /* чтобы сдвинуть элементы по краям равномерно */
  align-items: center;
}

.body_text {
  font-size: 18px;
  font-family: "Raleway", "Arial", sans-serif;
  color: #000000;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-self: flex-start;
}

.header_menu {
  display: flex;
  align-self: center;
  justify-self: flex-start;
}

.header__menu-link {
  list-style-type: circle;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 390px;
}

.contacts_block {
  display: flex;
  align-self: center;
  justify-items: end;
  padding-right: 31px;
}

.header__links-list-contacts {
  display: flex;
  flex-direction: column;
  width: 210px;
  height: 100%;
  align-self: center;
  justify-content: space-around;
}

.adress {
  line-height: 25px;
  font-style: normal;
}

.logo-black {
  max-width: 148px;
  max-height: 105px;
  align-self: center;
}

.header__menu-link_underline,
.footer_links-list-contacts_underline,
.footer__nav-link_list {
  text-underline-offset: 4px;
}

.header__menu-link_no-marker,
.footer__nav-link_list_active {
  list-style-type: none;
  text-decoration: none;
}

.cover {
  display: flex;
  width: 1100px;
  min-height: 757px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/cover.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
}

.cover_title_block {
  box-sizing: content-box;
  width: 100%;
  min-height: 335px;
  margin-top: 162px;
}

.cover_title_block_text {
  width: 100%;
  text-transform: uppercase;
  color: #fff;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.24;
  letter-spacing: 0.3em;
}

.accent-span {
  display: block;
  padding-left: 50px;
  padding-right: 20px;
}

.span_space {
  letter-spacing: 0.6em;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
  line-height: 1.26;
  margin-right: 30px;
}

.text-right {
  text-align: end;
  line-height: 1.19;
}

.cover_subline_text_phrase {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
  min-height: 226px;
  padding: 75px 50px 0 78px;
}

.phrase_subline_space {
  word-spacing: 0.84em;
}

.cover_subline_text {
  text-transform: uppercase;
  color: #fff;
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
}

/* subline */

.cover_bet-button {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  padding: 12px 32px 11px 31px;
  border: 1px solid #ffffff;
  text-decoration: none;
  background-color: transparent;
}

.lots_section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 180px 24px 0 24px;
}

.lots__card-list {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  flex-direction: row;
  align-self: center;
  justify-self: flex-start;
  flex-wrap: wrap;
  list-style-type: none;
}

.lots__card-list-item1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  min-height: 564px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/card-lot-01.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 51px 40px 50px 40px;
}

.lots__card-list-item2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  min-height: 564px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/card-lot-02.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 51px 40px 50px 40px;
}

.lots__card-list-item3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  min-height: 564px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/card-lot-03.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 51px 40px 50px 40px;
}

.lots_card_contain_text_title {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: underline;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
}

.lots__heading,
.about_text_title {
   font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
  font-size: 40px;
}

.lots__heading {
  padding-left: 39px;
  margin-bottom: 27px;
}

.lots__card-list_item_decoration {
  text-decoration: none;
}

.lots_card_contain_text,
.text_lots_more {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.text_lots_more {
  color: #000000;
  margin-left: 40px;
  margin-top: 26px;
  text-underline-offset: 5px;
}

.about {
  display: flex;
  width: 100%;
  padding: 148px 24px 0 24px;
  flex-direction: row;
  justify-content: space-between;
}

.block-logo {
  display: flex;
  width: 240px;
  height: 240px;
  background-color: #000000;
  margin-top: 36px;
  margin-left: 48px;
  border-radius: 100%;
}

.logo-white {
  width: 148px;
  height: 114px;
  margin: auto;
}

.about_text {
  width: 693px;
  padding-top: 136px;
}

.about_article {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-family: "Raleway", "Arial", sans-serif;
  row-gap: 25px;
  margin-right: 5px;
  line-height: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-items: flex-end;
  padding: 182px 50px 80px 50px;
  width: 100%;
}

.icon_list {
  display: flex;
  width: 240px;
  flex-direction: row;
  justify-content: space-between;
}

.footer_links-list-contacts {
  display: flex;
  flex-direction: column;
  width: 210px;
  justify-content: space-around;
  justify-self: flex-start;
}

.footer__nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

.icon_list_item {
  width: 48px;
  height: 48px;
}
